<div local-class="focus-trap-wrapper">
  <div local-class="inp"><input type="text" placeholder="first focus!"></div>
  <div local-class="inp"><input type="text" placeholder="second focus!"></div>

  <div local-class="trapped" {{focus-trap}}>
    <h4 local-class="header">Trapped Focus Here!</h4>
    <div local-class="inp"><input type="text" placeholder="third focus!"></div>
    <div local-class="inp"><input type="text" placeholder="fourth focus!"></div>
  </div>

  <div local-class="inp"><input type="text" placeholder="fifth focus!"></div>
</div>
