<div local-class="container" {{split-view sizes=(array 50 50) direction="vertical"}}>
  <div {{split-view sizes=(array 25 25 50)}}>
    <div local-class="element-1"></div>
    <div local-class="element-2"></div>
    <div local-class="element-3"></div>
  </div>
  <div local-class="element-4"></div>
</div>
