.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 50px;
  position: relative;
  width: 50vw;
}

.child {
  flex-basis: 33%;
  background: #2D2B55;
  height: 100px;
  color: white;
  margin: 2px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resize-me {
  background: #B362FF;
}
